//
// Color
//------------------------------------------------------------------------

//------------------------------------| text |------------------------------------
// white
.cl-white {
  color: $color-white !important;
}

//------------------------------------| background |------------------------------------
// white
.bg-white {
  background-color: $color-white !important;
}

//------------------------------------| badge |------------------------------------
// black
.badge-black {
  background-color: $color-black !important;
  color: $color-white !important;
}
